##
## This file is part of the coreboot project.
##
## Copyright 2015 Marvell ltd.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
##

if BOARD_MARVELL_ACORN

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select CHROMEOS
	select EC_SOFTWARE_SYNC
	select SOC_MARVELL_ARMADA38X
	select MAINBOARD_HAS_BOOTBLOCK_INIT
	select SPI_FLASH
	select VIRTUAL_DEV_SWITCH

config MAINBOARD_DIR
	string
	default marvell/acorn

config MAINBOARD_PART_NUMBER
	string
	default "Acorn"

config DRAM_DMA_START
	hex
	default 0x00000000

config DRAM_DMA_SIZE
	hex
	default 0x40000000

config VBOOT_RAMSTAGE_INDEX
	hex
	default 0x2

config FLASHMAP_OFFSET
	hex
	default 0x00100000

endif # BOARD_MARVELL_ACORN
